{% load static %}

<div class="accounts-form-wrap">
    <h2 id="form-begin">{{ registration_title|default:"Create An Account" }}</h2>

    <div class="login-form">
        {% if allow_social_login and social_options|length > 0 %}
            <div class="social-login">
                <h4>Sign up with</h4>
                {% for opt in social_options %}
                    <a class="fa-stack fa-lg" href="{% url 'social:begin' opt|lower %}?next={{ next }}">
                        <i class="fa fa-circle fa-stack-2x green"></i>
                        <i class="fa fa-{{ opt|lower }} fa-stack-1x white"></i>
                    </a>
                {% endfor %}
            </div>
            <h4>Or create a new account with a password</h4>
        {% endif %}
    </div>

    <section class="form-wrap">
        <form class="login-form" id="register-form" method="POST" action="{% url 'account:register' %}#form-begin">
            {% csrf_token %}
            {% if registration_form %}
                {{ registration_form.as_div }}
            {% else %}
                {{ form.as_div }}
            {% endif %}

            <div class="form-btn-wrap" class="text-center">
                <input type="submit" class="btn btn-success login-btn" value="Join" />
            </div>
        </form>
    </section>

    <section class="sub-form-wrap">
        <a href="{% url 'account:forgot_password' %}" class="link-reset-password">I forgot my password</a>
        <a href="/help/" class="link-help">Help</a>
    </section>
</div>
