{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}"/>

<div class="accounts-form-wrap">
    <section class="login-intro-wrap">
        <h2 id="form-begin">{{ registration_title|default:"Create An Account" }}</h2>
    </section>

    <div class="login-form">
        {% if allow_social_login and social_options|length > 0 %}
            <div class="social-login">
                <h4>Sign up with</h4>
                {% for opt in social_options %}
                    <a class="fa-stack fa-lg" href="{% url 'social:begin' opt|lower %}?next={{ next }}">
                        <i class="fa fa-circle fa-stack-2x green"></i>
                        <i class="fa fa-{{ opt|lower }} fa-stack-1x white"></i>
                    </a>
                {% endfor %}
            </div>
            <h4>Or create a new account with a password</h4>
        {% endif %}
    </div>

    <section class="form-wrap">
        <form class="login-form sign-up" id="register-form" method="POST" action="{% url 'account:register' %}{% if next %}?next={{ next }}{% endif %}">
            {% csrf_token %}
            {% if registration_form %}
                {{ registration_form.as_div }}
            {% else %}
                {{ form.as_div }}
            {% endif %}

            <div class="form-btn-wrap">
                <input type="submit" class="btn btn-success login-btn" value="Join" />
            </div>
        </form>
    </section>
</div>
