/**
 * =========================================================================
   Variables
 ===========================================================================
 */
@supports(--var: 'value') {
    /**
     * variables for future use & reference
     * no support for css vars in IE  (╯°□°)╯* ┻━┻
     */
    :root {
        --max-width: 44em;
        --margin-bottom: 1.5rem;
    }
}

/**
 * =========================================================================
   Profile
 ===========================================================================
 */

.profile-wrap {
    display: block;
    margin: 0 auto;
    position: relative;
}

.profile-wrap h1 {
    display: inline-block;
    margin-bottom: 1.5em;
    vertical-align: baseline;
    line-height: 1;
}

.profile-img {
    display: inline-block;
    max-height: 3rem;
    max-width: 3rem;
    vertical-align: text-bottom;
}

.profile-img img {
    height: auto;
    width: 100%;
}

.reduce-text-size {
    font-size: .75em;
}

.profile-buttons {
    padding-top: 3em;
}

/**
 * =========================================================================
   Login
 ===========================================================================
 */

.login-form-wrap,
.login-help-wrap,
.form-wrap {
    display: block;
    margin: 0 auto;
    position: relative;
    max-width: 44em;
    max-width: var(--max-width);
}

form.login-form div {
    margin-bottom: 1em;
}

/**
 * =========================================================================
   Update account
 ===========================================================================
 */

.accounts-form-wrap {
    border: 1px solid blue;
    margin: 0 auto;
    max-width: 44em;
    max-width: var(--max-width);
}
